.navbar{
    background-color: #022C44;
 
    height: 83px;
}
.navlogo{
height: 100px;
width: 130px;
left: 129px;
top: 11px;
border-radius: 0px;
}
/* .navbar-nav {
font-size: 16px;
color: black;
font-family: Inter;
font-size: 16px;
font-weight: 700;
line-height: 19px;
} */
.nav-link{
    color: #FFFFFF;
    font-size: 16px;
font-family: Inter;
font-size: 16px;
font-weight: 700;
line-height: 19px;
margin-left: 20px;
}
.nav-link:hover{
    color: #FFFFFF;
}
.login-Btn{
    margin-right: -30px;
   margin-left: 50px; 
    outline: none;
background-color:#FED700; ;
font-weight: bold;
color: black;
font-size: 17px;
height: 39px;
width: 150px;
}
/* .login-Btn:hover{
    background-color: #022C44;
} */
